<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Your Page</title>
</head>
<body>
    <h1>User Table</h1>
    <table border="1">
        <thead>
            <tr>
                <th th:each="header : ${tablerow}" th:text="${header}"></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="row : ${tableData}">
                <td th:text="${row[0]}"></td>
                <td th:text="${row[1]}"></td>
                <td th:text="${row[2]}"></td>
                 <td th:text="${row[3]}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>
